<div class="content my-5 ">
    <div class="col-md-12">
        <div class="card mt-2">
            <div class="card-header">
                <h5 class="text-center my-2">Add Folder</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="categoryAddForm">
                    <div class="my-3">
                        <label for="name">Folder Name</label>
                        <div class="form-group">
                            <input class="form-control" type="text" id="name" formControlName="name"
                                placeholder="category Name" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer d-flex justify-content-center py-3">
                <button class="btn btn-primary w-50" (click)="add()">Add</button>
            </div>
        </div>
        <div class="py-5 bg-body-tertiary rounded shadow mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of categories">
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>