<div class="sidebar">
    <div class="sidebar-header">
        <h3>Pass-Man</h3>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a id="add-record-button">Add New Record +</a>   
        </li>
        <li>
            <a id="add-folder-button">Add New Folder +</a>   
        </li>
        <hr>
        <li *ngFor="let category of categories">
            <a href="#">{{category.name}}</a>
            <ul *ngFor="let record of recordsByCategoryId">
                <li *ngIf="category.id == record.categoryId">{{ record.title }}</li>
            </ul>
        </li>
        
        <hr>

        <!-- <li>
            <a href="#">Bankalar</a>
            <ul class="child-list list-unstyled pt-2">
                <li>Akbank</li>
                <li>Garanti</li>
                <li>Enpara</li>
            </ul>
        </li>
        <li>
            <a href="#">Sosyal Medya</a>
        </li> -->
    </ul>
</div>