<div class="sidebar">
    <div class="sidebar-header">
        <a href="#">Pass-Man</a>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a routerLink="/addrecord" class="add-button" id="add-record-button">Add New Record +</a>
        </li>
        <li>
            <a routerLink="/addcategory" class="add-button" id="add-folder-button">Add New Folder +</a>
        </li>
        <hr>
        <li *ngFor="let category of categories">
            <a routerLink="/category/{{category.id}}">{{category.name}}</a>
            <!-- <app-add-record (recordAdded)="add($event.value)"></app-add-record> -->
            <ul class="list-unstyled record-list" *ngFor="let record of records">
                <li *ngIf="record.categoryId == category.id">
                    <a class="record-title" href="">{{ record.title }}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>