<div class="sidebar">
    <div class="sidebar-header">
        <a href="#">PassMan</a>
    </div>
    <ul class="list-unstyled components">
        <li>
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addRecordModel">
                Add New Record +
            </button>
        </li>
        <li>
            <!-- <a routerLink="/addcategory" class="add-button" id="add-folder-button">Add New Folder +</a> -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCategoryModel">
                Add New Folder +
            </button>
        </li>
        <hr>
        <li *ngFor="let category of categories">
            <a routerLink="/category/{{category.id}}">{{category.name}}</a>
            <ul class="list-unstyled record-list" *ngFor="let record of records">
                <li *ngIf="record.categoryId == category.id">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        (click)="setRecordDetail(record.id)">
                        {{ record.title }}
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</div>

<app-record-detail [record]="record"></app-record-detail>
<app-add-record></app-add-record>
<app-add-category></app-add-category>