@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Poetsen+One&display=swap');

a{
  text-decoration: none;
  color: #eee;
}

.sidebar {
  background-color: #202020;
  color: #eee;
  padding: 5%;
  padding-left: 8%;
  height: 100vh;
  width: 100%;
}

.sidebar-header {
  font-family: "Poetsen One", "sans-serif";
  font-size: 48px;
  padding-bottom: 3%;
}

.sidebar ul.components {
  padding: 20px 0;
}

.sidebar ul.components li {
  margin-bottom: 10px;
}

.sidebar ul.components li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #ebe8e8;
}

.sidebar ul.components li a:hover {
  color: #ffffff;
  font-size: 19px;
  transition: 0.4s;
}

.sidebar ul.components li ul.child-list {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  margin-left: 10%;
  cursor: pointer;
}

.sidebar ul.record-list li button {
  background-color: transparent;
  border: white;
  height: 20px;
  margin: 1%;
}

.record-list {
  margin-left: 8%;
  font-size: 14px;
}

#add-record-button {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: #1fea00;
  cursor: pointer;
}
#add-record-button:hover {
  font-size: 20px;
  color: #23ea00;
  transition: 0.5s;
}
#add-folder-button {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: #00c0e2;
  cursor: pointer;
}

#add-folder-button:hover {
  font-size: 20px;
  color: #00c3e5;
  transition: 0.5s;
}
